.general-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f4f9fd;
}

.general-title {
    margin: 0 0 1rem 0;
}

.scheme{
    display: flex;
    flex-direction: row;
}
.block-of-scheme {
    display: flex;
    flex-direction: column;
    border: 0.2rem dotted black;
    margin: 1rem 0 1rem 2rem;
    padding: 1rem;
}

/* Radio button */
.radio {
    display: flex;
    position: relative;
    margin-left: 3rem;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.radio input {
    display: none;
}

.radio-mark {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.3rem;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0.1rem solid lightgray;
}

.radio:hover input ~ .radio-mark {
    background-color: #ccc;
}

.radio input:checked ~ .radio-mark {
    background-color: #2196F3;
}

/* Templates */
.label-template, .input-template, .select-template {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.3rem 0 1rem;
    position: relative;
}

.input-with-clear-button {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
}

.input-label {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem 0 0.5rem;
}

.select-input, .text-input, .readonly-text {
    padding: 0.3rem 0.7rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #a1a1a1;
    background-color: #ffffff;
    border-radius: 0.2rem 0.2rem 0 0;
    width: 100%;
}

.input-clear-button {
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
    background: white;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    border: none;
    outline: none;
}

/* Table hacking */
.table-result {
    margin: 1rem 0;
}

.left-title-column {
    border-right: none !important;
}

.right-title-column {
    border-left: none !important;
}

/* Title of the counting */
.title-container {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 3rem;
    justify-content: space-between;
}

.count-title {
    font-weight: bold;
    font-size: 2rem;
}

.input-data-title {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Control buttons panel */
.ctrl-buttons-panel {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

/* Device tabs */
.device-tabs-container .nav.nav-tabs {
    display: flex;
    padding-top: 1rem;
    background-color: #f3f3f3;
}
.device-tabs-container .nav.nav-tabs a.nav-item.nav-link {
    display: flex;
    flex: 1;
}
.device-tabs-container .nav-tabs .nav-link:focus,
.device-tabs-container .nav-tabs .nav-link:hover {
    border-color: transparent;
}

/* ontodia container */
.ontodia-container {
    width: 100%;
    height: 100vh;
    border-top: 1px solid #b3b3b3;
}

/* Accordion button */
.accordion .card {
    margin-bottom: 0.3rem;
}
.accordion .card button{
    padding: 0.5rem;
    background-color: #b8ffe7;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.accordion .card .card-body {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem 0;
}

/* table in the result */
.table {
    background-color: white;
}

