.general-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.general-title {
    margin: 1rem 2rem;
}

.checkbox {
    margin-left: 2rem;
}

.scheme{
    display: flex;
    flex-direction: row;
}
.block-of-scheme {
    display: flex;
    flex-direction: column;
    border: 0.2rem dotted black;
    margin: 1rem 0 1rem 2rem;
    padding: 1rem;
}

/* Radio button */

.radio {
    display: flex;
    position: relative;
    margin-left: 3rem;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.radio input {
    display: none;
}

.radio-mark {
    display: flex;
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0.1rem solid lightgray;
}

.radio:hover input ~ .radio-mark {
    background-color: #ccc;
}

.radio input:checked ~ .radio-mark {
    background-color: #2196F3;
}

.radio-mark::after {
    content: "";
    position: absolute;
}

.radio-mark::after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

/* Templates */
.label-template, .input-template, .select-template {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.3rem 0 1rem;
}

.input-label {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem 0;
}

.readonly-text {
    border-bottom: 1px solid #4d90fe;
    padding: 0.5rem;
    font-size: 1.1rem;
    box-shadow: inset 0 0 0.2rem 0 #4d90fe;
}

.select-input, .text-input {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #4d90fe;
    box-shadow: inset 0 0 0.2rem 0 #4d90fe;
}

/* Table hacking */
.table-result {
    margin: 1rem 0;
}

.left-title-column {
    border-right: none !important;
}

.right-title-column {
    border-left: none !important;
}

/* Title of the counting */
.title-container {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.count-title {
    font-weight: bold;
    font-size: 1.4rem;
}

.input-data-title {
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

/* Control buttons panel */
.ctrl-buttons-panel {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

/* Device tabs */
.device-tabs-container .nav.nav-tabs {
    display: flex;
}
.device-tabs-container .nav.nav-tabs a.nav-item.nav-link {
    display: flex;
    flex: 1;
}
