.grate-container {
    display: flex;
}

.grate-input {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1rem;
}

.grate-result {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1rem;
}