.grate-container {
    display: flex;
}

.grate-result, .grate-input {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1.5rem 3rem;
}

.grate-input {
    background-color: #ededed;
}

.grate-result {
    background-color: #b5e5d5;
}